<body>
    <ion-content color="dark">
        <ion-card color="dark">
            <ion-col></ion-col>
            <ion-col>
                <form #login="ngForm" (ngSubmit)="getUser(login)">
                    <ion-row>
                      <ion-col size-sm="8" offset-sm="2">
                        <ion-item color="dark">
                          <ion-label>Username:</ion-label>
                        </ion-item>
                        <ion-item>
                          <ion-input
                            name="username"
                            #username="ngModel"
                            ngModel
                            type="text"
                          ></ion-input>
                        </ion-item>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size-sm="8" offset-sm="2">
                        <ion-item color="dark">
                          <ion-label>Password:</ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-input
                              name="password"
                              #password="ngModel"
                              ngModel
                              type="password"
                            ></ion-input>
                          </ion-item>
                      </ion-col>
                    </ion-row>
          
                    <ion-row class="ion-justify-content-center btn-pretraga">
                      <ion-col></ion-col>
                      <ion-col>
                        <ion-button
                          type="submit"
                          strong="true"
                          color="primary"
                          expand="block"
                          shape="round"
                          >Login
                        </ion-button>
                      </ion-col>
                      <ion-col></ion-col>
                    </ion-row>
                  </form>
            </ion-col>
            <ion-col></ion-col>
            <ion-row>
                <ion-col>
                    <p *ngIf="errorMessage != ''">{{errorMessage}}</p>
                </ion-col>
            </ion-row>
        </ion-card>
    </ion-content>
</body>
