<!-- <!doctype html>
<html lang="en"> -->
<body>
  <app-navbar></app-navbar>
  <div class="background"></div>
  <div class="text">
    <h1>15 Amazing Facts about Milk</h1>
  </div>
  <div>
    <ion-row>
      <ion-col
        >
        <p>I</p>
        <span>M</span>ilk is white because of its fat content. Although milk is
        composed of approximately 87% water, which is colorless, the fat and
        protein molecules floating inside it reflect all light wavelengths,
        making it appear white.</ion-col
      >
      <ion-col
        >
        <p>II</p>
        <span>O</span>n average, a cow produces 6.3 gallons of milk each day.
        That’s nearly 2,300 gallons per year. The most milk produced by a single
        cow in one year was 59,298 pounds. The record is held by a Holstein cow
        by the name of Robtham Suzette Paddy of The family-run Robthom Farm near
        Springfield, Missouri. At her peak, Sue produced more than 200 lbs. per
        day.</ion-col
      >
      <ion-col
        >
        <p>III</p>
        <span>I</span>n Uganda, the title for “king” is “Omukama,” which means
        “superior milkman”. The Bantu title refers to the king’s role as feeder
        of his people. Moreover, rulers in the ancient Ugandan kingdoms were of
        Hema descent—a minority group known for being cattle holders.</ion-col
      >
      <ion-col
        >
        <p>IV</p>
        <span>M</span>ilk will stay fresher if you add salt. Adding a pinch of
        salt or baking soda to each carton as soon as you open it will keep milk
        fresh for over a week past its expiration date. The active ingredients
        preserve the milk, keeping it from spoiling so quickly. You can also pop
        it in the freezer!</ion-col
      >
      <ion-col
        >
        <p>V</p>
        <span>T</span>he world’s rarest cheese is made from donkey milk. It was
        long thought that it is impossible to make cheese out of donkey’s milk
        because the liquid doesn’t contain enough casein to coagulate. However,
        the Serbian cheesemonger Slobodan Simić found a roundabout way to make
        it. He sells his cheese for $500 per pound.</ion-col
      >
    </ion-row>
    <ion-row>
      <ion-col
        >
        <p>VI</p>
        <span>M</span>ilk is the only food that you can survive wholly on. No single
        vegetable, legume, or type of carbohydrate contains all nine essential
        amino acids that human require to build proteins, and a meat-only diet
        lacks the necessary Vitamin C. Milk, however, contains every nutrient we
        need—even as adults.</ion-col
      >
      <ion-col
        >
        <p>VII</p>
        <span>T</span>he average American consumes 18 gallons of milk in a year. While the
        entire nation goes through roughly 21 billion gallons annually,
        Americans drink more carbonated soft drinks, bottled water, and beer
        than milk.</ion-col
      >
      <ion-col
        >
        <p>VIII</p>
        <span>L</span>actating cows drink as much as 420 pounds of water daily. Water weighs
        8.3 lbs. per gallon. Though normally a milking dairy cow drinks between
        30 to 50 gallons of water per day, this can double in the hotter
        months.</ion-col
      >
      <ion-col
        >
        <p>IX</p>
        <span>A</span>ccording to Greek mythology, our galaxy is formed out of the Queen of
        the Gods’ spilt milk. In the myth, Zeus’s wife, Hera, was pushing baby
        Hercules away when several drops of milk dropped from her breast and
        into the night sky. The name “Milky Way” is actually a translation of
        the Greek term for “milky circle,” the name ancient peoples gave to our
        corner of the universe.</ion-col
      >
      <ion-col
        >
        <p>X</p>
        <span>J</span>une is National Dairy Month. Originally called National Milk Month,
        the observance began in 1937 as a way to steady dairy demand when there
        was a surplus of production. Now it is an annual tradition run by the
        National Dairy Council to celebrate the industry and its
        contributions.</ion-col
      >
    </ion-row>
    <ion-row>
      <ion-col
        >
        <p>XI</p>
        <span>M</span>ilk alternatives now command over 13% of the milk market. And the
        numbers are growing. Dairy Milk sales were down more than a billion
        dollars in 2018, largely due to the growing popularity of plant-based
        products.</ion-col
      >
      <ion-col
        >
        <p>XII</p>
        <span>T</span>he US diary industry has repeatedly attempted to sue producers of
        dairy alternatives. They believe only animal milk deserves the label
        “milk.” However, the word has been used for milk-like substances since
        1200 AD, and in 2018, the court ruled that almond milk is unlikely to be
        confused with dairy milk.</ion-col
      >
      <ion-col
        >
        <p>XIII</p>
        <span>M</span>ilk is still produced by family farms. According to the U.S.
        Department of Agriculture, nearly 98% of dairy farms in the US are still
        family owned and operated.</ion-col
      >
      <ion-col
        >
        <p>XIV</p>
        <span>I</span>ndia is the world’s largest producer of milk. However, their main
        product is skimmed milk powder; they export very few other dairy
        products.</ion-col
      >
      <ion-col
        >
        <p>XV</p>
        <span>C</span>ountries that drink milk win more Nobel prizes. According to a 2013
        study, the nations whose citizens consume the most dairy per capita also
        win the most Nobel Prizes. Sweden is at the top of the list, with 31.855
        prizes for every 10 million Swedes. On average, each Swede consumes 772
        lbs. of milk annually.</ion-col
      >
    </ion-row>
  </div>
</body>
<!-- </html> -->
